<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-appavailability"
        version="0.4.2">
    
    <name>AppAvailability</name>
    
    <description>This plugin for Cordova and PhoneGap allows you to check if an app is installed. It requires an URI Scheme (iOS) or a Package Name (Android).</description>
    
    <keywords>Cordova,PhoneGap,plugin,app,availability,installed, URIScheme,URI,Scheme,PackageName,Package,Name,iOS,Android</keywords>
    
    <repo>https://github.com/ohh2ahh/AppAvailability.git</repo>
    <issue>https://github.com/ohh2ahh/AppAvailability/issues</issue>
    
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/AppAvailability.js" name="AppAvailability">
        <clobbers target="appAvailability" />
    </js-module>
    
    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AppAvailability">
                <param name="ios-package" value="AppAvailability" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/AppAvailability.h" />
        <source-file src="src/ios/AppAvailability.m" />
    </platform>
    
    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppAvailability">
                <param name="android-package" value="com.ohh2ahh.appavailability.AppAvailability" />
            </feature>
        </config-file>
        
        <source-file src="src/android/AppAvailability.java" target-dir="src/com/ohh2ahh/appavailability/" />
    </platform>
    
</plugin>